<div class="container">
  <nav>
    <ul class="nav">
      <li class="nav-item">
        <a routerLink="/"
        class="nav-link">Főoldal</a>
      </li>
      @if (isLoggedIn) {
        <li class="nav-item">
          <a (click)="logout()"
          style="cursor: pointer;"
          class="nav-link">Kilépés</a>
        </li>
      }@else {
        <li class="nav-item">
          <a routerLink="/login"
          class="nav-link">Belépés</a>
        </li>
      }
    </ul>
  </nav>
  
  <router-outlet></router-outlet>
</div>
